*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
header{
    width: 100%;
    height: 90px;
    background-image: url(imagenes/fondos/fondo\ barra.jpg);
    background-size: 200px;
    background-position: center;
}
.barra{
    width: 80%;
    display: flex;
    position: relative;
    left: 16%;
}
.logo{
    width: 25%;
    height: 100%;
    display: flex;
}
.logo a img{
    width: 90px;
    height: 90px;
    background-position: center;
}
.logo h3{
    color: white;
    position: relative;
    top: 30px;
    font-family: "Montserrat alternates";
    font-weight:800;
    font-size: 23px;
}
.informacion{
    width: 25%;
    height: 100%;
    position: relative;
    display: inline-block;
}
.informacion ul{
    display: flex;
}
.informacion ul a{
    font-family: "Montserrat alternates";
    font-weight:400;
    font-size: 20px;
    padding: 30px;
    position: relative;
    right: 14px;
    top: 31px;
    color: aliceblue;
    transition: all 0.3s;
}
.informacion ul a:hover{
    color: rgb(245, 150, 34);
}


.buscador{
    position: relative; 
    padding: 5px;
    left: 6%;
}
.buscador input{
    width: 33px;
    height: 35px;
    padding: 0 10px;
    font-size: 16px;
    color: #000;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    position: relative;
    top: 23px;
    left: 10%;
    transition: 0.4s ease;
    font-family: "Montserrat alternates";
    font-weight: 200;
    
}
.btn{
    transform: translateX(24%);
    transform: translateY(-1px);
    position: absolute;
    top: 28px;
    right: -7.5%;
    width: 38px;
    height: 37px;
    line-height: 140px;
    background: rgb(245, 150, 34);
    text-align: center;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn img{
    width: 20px;
    height: 20px;
}
.buscador:hover input{
    width: 200px;
}
.buscador input:focus{
    width: 200px;
}

.compra_usuario{
    width: 25%;
    height: 100%;
}

.usuario img{
    width: 35px;
    height: 35px;
    position: relative;
    top: 30px;
    left: 60%;
}
.carrito_compras img{
    width: 33px;
    height: 29px;
    position: relative;
    top: 26px;
    left: 60%;
}