@font-face{
    font-family:"Montserrat alternates";
    src: url("tipografias/Montserrat_Alternates/MontserratAlternates-ExtraLight.ttf") format("truetype");
    font-weight:400;
}
@font-face{
    font-family:"Montserrat alternates";
    src: url("tipografias/Montserrat_Alternates/MontserratAlternates-ExtraBold.ttf") format("truetype");
    font-weight:800;
}
@font-face{
    font-family:"Montserrat alternates";
    src: url("tipografias/Montserrat_Alternates/MontserratAlternates-ExtraLight.ttf") format("truetype");
    font-weight:200;
}