body{
    background-color: rgb(48, 75, 75);
    border: 10px;
    }
p{
    background-color: black;
    color: antiquewhite;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
 }