:root {
    --color_fondo-principal:#095090;
    --color_texto-principal:#f4f4f4;
}
.logo{
    width: 33.33%;
    margin: 10px;
}
.perfil{
    width: 33.33%;
}
.buscador{
    width: 33.33%;
    height: 100%;
}
.buscador input{
    width: 100%;
    height: 28%;
    border-radius: 30px;
    border: transparent;
    position: relative;
    top: 30%;   
}
.perfil{
    display: flex;
    height: 100%;
    width: 33.33%;
}
.icono_usuario{
    width: 50%;
    height: 100%;
    position: relative;
    top: 12%;
    left: 40%;
}
.imagen_icono_usuario{
    height: 50%;
    width: 100%;
    position: relative;
    top: 9px;
}
.imagen_icono_usuario img{
    width: 40px;
    height: 38px;
}
.icono_usuario_text{
    height: 50%;
    width: 100%;
    position: relative;
    bottom: 3px;
    
}
.icono_usuario_text h5{
    color: black;
    font-size: 10px;
    position: relative;
    left: 3.5px;
}
.icono_compra{
    width: 50%;
    height: 100%;
    position: relative;
    top: 25%;
    left: 10px;
}
.imagen_icono_compra img{
    width: 35px;
    height: 30px;
    position: relative;
    left: 9px;
}
.text_icono_compra h5{
    position: relative;
    left: 10px;
    font-size: 10px;
}
.categoria{
    width: 100%;
    height: 50px;
    background-color: #7e7e7e;
}
.categoria nav{
    display: flex;
}
.menu_division{
    width: 10%;
}
.menu_division a{
    width: 100%;
}
.texto_categoria_icono{
    height: 20%;
    width: 100%;
}
.texto_categoria_icono h5{
    text-align: center;
    font-size: 8px;
    color: black;
    position: relative;
    bottom: 3px;
}
.categoria_icono_imagen{
    height: 80%;
    width: 100%;
}
.categoria_icono_imagen img{
    width: 30px;
    height: 30px;
    position: relative;
    left: 40%;
    top: 8%;
}
.color_posicion_inicio{
    height: 50px;
    background-color: #095090;
}




.container_main{
    width: 100%;
    background-color: #f4f4f4;
    position: relative;
    top: 150px;
}
.productos_descuento{
    width: 90%;
    height: 1260px;
    position: relative;
    left: 5%;
    top: 10px;
}
.division_caja_productos{
    height: 50%;
    display: flex;
}
.division_caja_productos_texto{
    height: 50%;
    color: black;
}
.tarjeta_descuento{
    display: flex;
    height: 400px;
}
.frase_descuento{
    width: 90%;
    height: 100px;
    position: relative;
    left: 5%;
}
.frase_descuento h2{
    text-align: left;
    font-size: 30px;
    position: relative;
    top: 40px;
    left: 20px;
}
.oden_fila_descuento{
    width: 25%;
    border: 1px solid #095090;
    border-radius: 20px;
    margin: 20px;
}
.portatil1_descuento{
    border: 1px solid #095090;
    border-radius: 20px;
    margin: 20px;
}
.imagen_decuento{
    width: 20%;
}
.imagen_descuento img{
    width: 80px;
    height: 80px;
    position: relative;
    top: 10px;
    left: 10px;
    z-index: 1;
}
.texto_especificacion{
    height: 33.33%;
    text-align: center;
}
.texto_especificacion p{

}
.precio{
    height: 33.33%;
}
.boton_agregar_carrito{
    height: 20%;
    background-color: #095090;
    width: 60%;
    position: relative;
    left: 20%;
    border-radius: 20px;
}
.boton_agregar_carrito p{
    color: #f4f4f4;
}
.boton_agregar_carrito p{
    position: relative;
    top: 10px;
}
p{
    text-align: center;
    font-size: 16px
}
.sudbrayado_precio{
    color: red;
    text-decoration: line-through;
    font-size: 18px;
}
.precio_final{
    font-size: 25px;
}
.portatil1 img{
    width: 170px;
    height: 170px;
    position: relative;
    right: 20px;
    border-radius: 20%;
}
.imagen_telefono1 img {
    width: 150px;
    height: 150px;
    position: relative;
    top: 15px;
    border-radius: 10%;
}
.imagen_tablet1 img{
    width: 140px;
    height: 150px;
    position: relative;
    top: 10px;
    border-radius: 10%;
}
.imagen_impresora1 img{
    width: 160px;
    height: 150px;
    position: relative;
    top: 10px;
    right: 10px;
    border-radius: 10%;
}
.imagen_monitor1 img{
    width: 160px;
    height: 150px;
    position: relative;
    top: 10px;
    right: 10px;
    border-radius: 10%;
}
.imagen_Teclado1 img{
    width: 160px;
    height: 150px;
    position: relative;
    top: 10px;
    right: 10px;
    border-radius: 10%;
}
.imagen_lavadora1 img{
    width: 160px;
    height: 150px;
    position: relative;
    top: 10px;
    right: 10px;
    border-radius: 10%;
}
.imagen_bafle1 img{
    width: 160px;
    height: 150px;
    position: relative;
    top: 10px;
    right: 10px;
    border-radius: 10%;
}
.imagen_televisor1 img{
    width: 195px;
    height: 170px;
    position: relative;
    top: 10px;
    right: 10px;
    border-radius: 10%;
}

.contenedor_pie_pagina{
    display: flex;
    width: 100%;
    height: 200px;
    background-color:#c3c3c3;
    position: relative;
    top: 100px;
}

.creadores {
    width: 50%;
    height: 100%;
}
.creadores p{
    text-align: left;
    position: relative;
    left: 30px;
    top: 40px;
    font-size: 25px;
}
.redes{
    width: 50%;
}
.redes img{
    width: 40px;
    height: 40px;
    position: relative;
    left: 30px;
    top: 40px;
    margin: 10px;
}
